<link rel="stylesheet" href="/css/home.css">
<h1>Home Page</h1>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fuga officiis doloremque omnis accusamus repellendus? Similique ipsam necessitatibus aut tempore quos, debitis repudiandae voluptate explicabo dolorem, quod alias, amet harum asperiores?</p>